body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


.container {
    /* align-content: center;  */
    /* justify-content: center; */
    text-align: center;
    margin: auto;
}


.container-button {
    /* width: 80%; */
    /* margin: auto; */
    /* padding: 20px; */
    /* justify-content: space-around; */
    display: flex; 
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    /* margin-bottom: 5px; */
}



.container-text {
    width: 65%;
    border: 1px solid rgb(185, 185, 185); 
    border-radius: 15px; 
    padding: 45px; 
    margin: auto;
    margin-top: 25px;
}


.column-project {
    width: 75%;
    border: 2px solid rgb(215,215,215); 
    border-radius: 25px; 
    margin: auto;
    /* margin-bottom: 35px; */

}


.row-project {
    display: flex; 
    justify-content: center; 
    align-content: center; 
    margin-top: 35px;
    width: 100%;
}


.line {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 3px solid;
    color: rgb(200,200,200);
    width: 85%;
    /* border: 1px solid rgb(185, 185, 185);  */;
  }
  

  
header {
    background: #ffffff;
    color: white;
    padding: 5px 0;
    font-family: 'arial black', sans-serif;
    /* font-size: 1vw; */
    font-size: 12px;
    text-transform: uppercase;
    text-align: center; 
}

header h1 {
    text-align: center;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.nav {
    /* border: 3px solid; */
    /* border-radius:15px;  */
    padding: 0px; 
    margin: 0px"
}


nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* .nav-link {
    border: 1px solid green;
    border-radius: 15px; 
    padding: 0px; 
    margin: 0px"
} */


a {
    color: blue;
    text-decoration: none;
}

.a-visitor {
    display: block;
    width: 25px;
    height: 10px;
    cursor:pointer;
    /* background-color: green; */
    position: relative;
    left: 0px; 
    top: 0px;
}



section {
    padding: 30px 0;
    background: #f4f4f4;
}

p {
    font-size: 16px;
}

h2 {
    text-align: center;
    font-size: 2em;
    /* font-size: 25px;  */
    /* font-weight: bold;  */
    /* text-align: center;  */
    /* margin-bottom: 15px; */
}


h4 {
    text-align: center;
    /* font-size: 1em; */
    /* font-weight: bold;  */
    /* margin-bottom: 15px; */
}


footer {
    height: 65px;
}


.projects {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    border: 1px solid rgb(185, 185, 185); 
    border-radius: 15px;     
    margin-top: 35px;
}

.project {
    width: 25%;
    min-width: 25%;
    background: white;
    border-radius: 15px;
    padding: 25px;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}



/* Images */
.img-responsive {
    max-width: 85%;
    height: auto;
    margin: 15px;
  }



.button {
    font-size: 15px;
    margin: 1px;
    margin-top: 15px;
    cursor: pointer;
    height: 40px;
    line-height: 40px; /* Ensure text is vertically centered */
    text-align: center;
    padding: 0 10px; /* Adjust padding for better alignment */
}

.button-round {
    min-height: 45px;
    min-width: 75px;
    border: 1px solid #0360df;
    border-radius: 50px;
    background-color: #0360df;
    background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px #116ee7;
    transition-property: border-color, transform, background-color;
    transition-duration: 0.2s;
}

.button-round:hover {
    transform: scale(1.04);
}

.button-round:active {
    border-color: #0048d5;
    transform: scale(0.96);
    background-color: #0048d5;
}

footer {
    background: rgb(50, 50, 50);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}



/* Responsive adjustments */
@media (max-width: 1200px) {
    .project {
        width: 45%;
    }
}





@media (max-width: 768px) {
    /* .project {
        width: 100%;
    } */

    /* .bi {
        width: 24px;
        height: 24px;
    } */


    p {
        font-size: 15px;
    }
    
    .container-text {
        width: 90%;
        /* border: 1px solid rgb(185, 185, 185);  */
        /* border-radius: 15px;  */
        padding: 25px; 
        /* margin: auto; */
        /* margin-top: 25px; */
        /* font-size: 0.95em; */
    }


    header {
        background: #ffffff;
        color: white;
        padding: 5px 0;
        font-family: 'arial black', sans-serif;
        /* font-size: 1vw; */
        font-size: 8.5px;
        text-transform: uppercase;
        text-align: center; 
    }
}
